body {
    background-image: url(../images/hotel-wallpaper/hotel-wallpaper.png);
    background-size: cover;
    font-color: blue;
    width: 960px;
}

p.portfolio { 
  position: relative;
  width: 200px;
  border: 5px;
  padding:50px;
  background-color: teal;
  text-align: center;
}

.boxed {
  border: 1px;
  background-color: #4aaaa5;
  width: 180px;
  border-color: #cccccc;
}

input[type=text] {
  width: 75%;
}

input[name=email] {
  width: 75%;
}

input[name=message] {
  width: 75%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input [type=submit] {
  width: 25%;
}

.content {
  min-height: calc(100vh - 70px);
}

.footer {
  border-top: 8px solid #4aaaa5
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: gray;
  height: 50px;
}

ul {
  margin: 0;
  padding: 0;
  float: right;
  position: fixed; 
  top: 0;
  width: 100%;
  display: inline-block;
  right: 35px;

}

.header
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

img [class=personal-pic] {
  width:25%;
  height: 25%;
}

.body-box {
  width: 300px;
  border: 15px solid rgb(22, 22, 22);
  padding: 50px;
  margin: 20px; 
  position: 960px;
  background-color: white;
}